allow vendor_init device:file { create write };
allow vendor_init rootfs:dir { add_name write };
allow vendor_init tombstone_data_file:dir { search setattr };
#allow vendor_init seemp_data_file:dir { create setattr };
allow vendor_init tombstone_data_file:dir { add_name create write };
allow vendor_init media_rw_data_file:file { getattr relabelfrom };
allow init bootanim:process noatsecure;
allow init bootstat:process noatsecure;
allow init fsck:process noatsecure;
allow init hal_keymaster_default:process noatsecure;
allow init hal_rcsservice:process noatsecure;
allow init ims:process noatsecure;
allow init logd:process noatsecure;
allow init move-time-data-sh:process noatsecure;
allow init msm_irqbalanced:process noatsecure;
allow init qti_init_shell:process noatsecure;
allow init servicemanager:process noatsecure;
allow init sysfs:dir write;
#allow init sysinit:process noatsecure;
allow init tzdatacheck:process noatsecure;
allow init ueventd:process noatsecure;
allow init vdc:process noatsecure;
allow init vendor_init:process noatsecure;
allow init vold:process noatsecure;
